<!-- Extended default form grid -->



<!--<header *ngIf="isLoggedIn$ | async as isLoggedIn">-->

<app-menu-mod>  </app-menu-mod>

<!--<header *ngIf="isLoggedIn$ | async as isLoggedIn">-->


  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto text-center mt-5">

        <div class="card card-cascade narrower mt-5">

          <!--Card image-->
          <div class="view view-cascade gradient-card-header blue-grey narrower py-4 mx-4 mb-3 d-flex justify-content-center align-items-center">

            <h4 class="white-text font-weight-bold text-uppercase mb-0">Inscription </h4>

          </div>

          <!--/Card image-->
          <div class="row  d-flex align-items-center justify-content-center">
            <div class="col-md-6 mx-auto">
              <div class="md-form">
                <input type="search" [(ngModel)]="searchText" id="search" class="form-control" mdbInputDirective [mdbValidate]="false">
                <label for="search">Search data</label>
              </div>
            </div>
            <div class="col-md-6 mx-auto">

              <!--<a  (click)="generateCsv()"  class="btn-floating btn-default">  <i class="fas fa-file-csv"></i></a>-->
              <!-- <button class="btn btn-primary waves-light btn-sm" mdbWavesEffect (click)="generateCsv()">Generate CSV</button>

               <button class="btn btn-primary waves-light btn-sm" data-toggle="modal" data-target="#basicExample" (click)="centralLarge.show()"
                       mdbWavesEffect>
                 Ajout
               </button>-->
            </div>
          </div>
          <div class="px-2">

            <table class="table table-hover table-responsive-md mb-0  table-striped "  cellspacing="0" width="100%">

              <!--Table head-->
              <thead>
             <!--<th>Id
                <mdb-icon icon="sort" (click)="sortBy('id')"></mdb-icon>
              </th>-->
              <th>Name
                <mdb-icon icon="sort" (click)="sortBy('name')"></mdb-icon>
              </th>
              <th>Surname
                <mdb-icon icon="sort" (click)="sortBy('surname')"></mdb-icon>
              </th>

              <th>Date Naissance
                <mdb-icon icon="sort" (click)="sortBy('datenaiss')"></mdb-icon>
              </th>

              <th>Email
                <mdb-icon icon="sort" (click)="sortBy('email')"></mdb-icon>
              </th>
             <th>Numéro
               <mdb-icon icon="sort" (click)="sortBy('numtel')"></mdb-icon>
             </th>
              <th>Nationality
                <mdb-icon icon="sort" (click)="sortBy('nationality')"></mdb-icon>
              </th>
              <th>motivationtext
                <mdb-icon icon="sort" (click)="sortBy('motivationtext')"></mdb-icon>
              </th>
              <th>Actions
              </th>
              </thead>
              <!--Table head-->

              <!--Table body-->
              <tbody>
              <tr #list *ngFor="let data of search(); let i = index">
                <!-- <th *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex" scope="row">{{data.id}}</th>-->

      <!--          <th *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex" scope="row">{{data.id}}</th>-->

                <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex">{{data.name}} </td>
                <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex">{{data.surname}} </td>

                <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex">{{data.datenaiss}} </td>
                <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex">{{data.email}} </td>
                <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex">{{data.numtel}} </td>
                <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex">{{data.nationality}} </td>
                <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex">{{data.motivationtext}} </td>
                <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex">
                  <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="removeRow()">Accept</button>
                  <button
                    type="button"
                    mdbBtn
                    color="default"
                    rounded="true"
                    size="sm" class="my-0"
                    data-toggle="modal"
                    data-target="#basicExample"
                    (click)="frame.show()"
                    mdbWavesEffect>Détails    </button>
 </td>
              </tr>
              </tbody>
              <!--Table body-->
            </table>
          </div>

          <hr class="my-0">

          <!--Bottom Table UI-->
          <div class="d-flex justify-content-center">

            <!--Pagination -->
            <nav class="my-4 pt-2">
              <ul class="pagination pagination-circle pg-purple mb-0">

                <!--First-->
                <li class="page-item clearfix d-none d-md-block" (click)="firstPage()" [ngClass]="{disabled: activePage == 1}">
                  <a class="page-link">First</a>
                </li>

                <!--Arrow left-->
                <li class="page-item" (click)="previousPage()" [ngClass]="{disabled: activePage == 1}">
                  <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>

                <!--Numbers-->
                <li #pages *ngFor="let page of paginators | slice:firstVisiblePaginator:lastVisiblePaginator; let i = index" class="page-item"
                    [ngClass]="{active: i + firstVisiblePaginator + 1 == activePage}">
                  <a class="page-link waves-light" (click)="changePage($event)" mdbWavesEffect>{{page}}</a>
                </li>



                <!--Arrow right-->
                <li class="page-item" (click)="nextPage()" [ngClass]="{disabled: activePage == numberOfPaginators}">
                  <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>

                <!--First-->
                <li class="page-item clearfix d-none d-md-block" (click)="lastPage()" [ngClass]="{disabled: activePage == numberOfPaginators}">
                  <a class="page-link">Last</a>
                </li>

              </ul>
            </nav>
            <!--/Pagination -->

          </div>
          <!--Bottom Table UI-->

        </div>
      </div>


    </div>
    <!-- Basic example -->

    <hr class="my-5">

  </div>

<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Journaliste</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <mdb-icon fas icon="check" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit iusto nulla aperiam blanditiis ad consequatur
            in dolores culpa, dignissimos, eius non possimus fugiat. Esse ratione fuga, enim, ab officiis totam.

            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit iusto nulla aperiam blanditiis ad consequatur
            in dolores culpa, dignissimos, eius non possimus fugiat. Esse ratione fuga, enim, ab officiis totam.

            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit iusto nulla aperiam blanditiis ad consequatur
            in dolores culpa, dignissimos, eius non possimus fugiat. Esse ratione fuga, enim, ab officiis totam.
          </p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="success" class="waves-effect" mdbWavesEffect>Get it now
          <mdb-icon far icon="gem" class="ml-1"></mdb-icon>
        </a>
        <a type="button" mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()">No, thanks</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>



