<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark green darken-4 scrolling-navbar ie-nav" [containerInside]="false">
  <mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown mega-dropdown" mdbDropdown>
          <a mdbDropdownToggle class="nav-link dropdown-toggle"><img  class="log"  src="../../../../../assets/africa.png" alt="afric" routerLink="/dashboard">     <span class="sr-only">(current)</span></a>
          <div class="dropdown-menu mega-menu row z-depth-1">
            <div class="row">




              <div class="col-md-7 col-xl-9">
                <div class="row">
                  <div class="col-xl-6 mt-5 mb-4 pr-5 clearfix d-none d-block">
                    <h6 class="sub-title p-sm mb-4 text-uppercase font-weight-bold dark-grey-text">LES PAYS LES PLUS CONSULTÉS</h6>
                    <!--Featured image-->
                    <div>




                          <div>
                            <i class=" fas united states flag"></i>South africa

                          </div>
<ul>
                          <li class="nav-item active waves-light" mdbWavesEffect>
                            <a class="nav-link" routerLink="/article_pays">
                              <i class="algeria flag"></i>Algeria
                            </a>
                          </li>

                          <li class="nav-item active waves-light" mdbWavesEffect>
                            <a class="nav-link" routerLink="/article_pays">
                              <i class="angola flag"></i> Angola
                            </a>
                          </li>



                          <li class="nav-item active waves-light" mdbWavesEffect>
                            <a class="nav-link" routerLink="/article_pays">
                              <i class="angola flag"></i> Angola
                            </a>
                          </li>

</ul>
                    </div>

                  </div>



                </div>
              </div>
            </div>
          </div>
      </ul>
    </links>
    <!--<a class="logo navbar-brand" >
      <img  class="log"  src="../../../../../assets/africa.png" alt="afric"/>
    </a>-->
  </mdb-navbar-brand>




  <links>
    <ul class="navbar-nav mr-auto">
   <!--   <li class="nav-item active waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/acceuil">
          <span class="sr-only">(current)</span>
        </a>
      </li>-->
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link"  routerLink="/art_eco">Economy & Finance </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/art_tech" >Technologie</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/art_entreprise" >Entreprise</a>
      </li>

     <!-- <li class="nav-item dropdown mega-dropdown" mdbDropdown>
        <a mdbDropdownToggle class="nav-link dropdown-toggle">Entreprise</a>
        <div class="dropdown-menu mega-menu row z-depth-1">
          <div class="row">
            <div class="col-md-7 col-xl-9">
              <div class="row">
                <div class="col-xl-6 mt-5 mb-4 pr-5 clearfix d-none d-block">
                  <h6 class="sub-title p-sm mb-4 text-uppercase font-weight-bold dark-grey-text">Featured</h6>
                  &lt;!&ndash;Featured image&ndash;&gt;
                  <div class="view overlay pb-3">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg" class="img-fluid z-depth-1" alt="First sample image">
                    <div class="mask rgba-white-slight flex-center">
                      <p></p>
                    </div>
                  </div>
                  <h4 class="mb-2">
                    <a class="news-title" href="">Lorem ipsum dolor sit amet, consectetur isum adipisicing elit.</a>
                  </h4>
                  <p class="font-small text-uppercase text-muted">By
                    <a class="m-sm" href="#!">Anna Doe</a> - July 15, 2017</p>
                </div>
                <div class="col-xl-6 mt-5 mb-4 pr-5 clearfix d-none d-xl-block">
                  <h6 class="sub-title p-sm mb-4 text-uppercase font-weight-bold dark-grey-text">Recent</h6>
                  <div class="news-single">
                    <div class="row">
                      <div class="col-md-4">
                        &lt;!&ndash;Image&ndash;&gt;
                        <div class="view overlay z-depth-1">
                          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(43).jpg" class="img-fluid" alt="Minor sample post image">
                          <div class="mask rgba-white-slight flex-center">
                            <p></p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <a class="news-title smaller mb-1" href="">Duis aute irure dolor reprehenderit in voluptate.</a>
                        <p class="font-small text-uppercase text-muted">July 14, 2017</p>
                      </div>
                    </div>
                  </div>
                  <div class="news-single">
                    <div class="row">
                      <div class="col-md-4">
                        &lt;!&ndash;Image&ndash;&gt;
                        <div class="view overlay z-depth-1">
                          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(44).jpg" class="img-fluid" alt="Minor sample post image">
                          <div class="mask rgba-white-slight flex-center">
                            <p></p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <a class="news-title smaller mb-1" href="">Tempore autem reiciendis iste nam dicta.</a>
                        <p class="font-small text-uppercase text-muted">July 14, 2017</p>
                      </div>
                    </div>
                  </div>
                  <div class="news-single">
                    <div class="row">
                      <div class="col-md-4">
                        &lt;!&ndash;Image&ndash;&gt;
                        <div class="view overlay z-depth-1">
                          <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(41).jpg" class="img-fluid" alt="Minor sample post image">
                          <div class="mask rgba-white-slight flex-center">
                            <p></p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <a class="news-title smaller mb-1" href="">Eligendi dicta sunt amet, totam ea recusandae.</a>
                        <p class="font-small text-uppercase text-muted">July 14, 2017</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
-->
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/article_categorie" >Mot d'expert</a>
      </li>

      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/art_life" >Lifestyle</a>
      </li>

    </ul>

    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link"  routerLink= "/u_login" > <i  class="fas fa-user prefix grey-text"></i>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>

