INSERT INTO country (Name) VALUES('Afghanistan');
INSERT INTO country (Name) VALUES('Albania');
INSERT INTO country (Name) VALUES('Algeria');
INSERT INTO country (Name) VALUES('Andorra');
INSERT INTO country (Name) VALUES('Angola');
INSERT INTO country (Name) VALUES('Anguilla');
INSERT INTO country (Name) VALUES('Antigua & Barbuda');
INSERT INTO country (Name) VALUES('Argentina');
INSERT INTO country (Name) VALUES('Armenia');
INSERT INTO country (Name) VALUES('Australia');
INSERT INTO country (Name) VALUES('Austria');
INSERT INTO country (Name) VALUES('Azerbaijan');
INSERT INTO country (Name) VALUES('Bahamas');
INSERT INTO country (Name) VALUES('Bahrain');
INSERT INTO country (Name) VALUES('Bangladesh');
INSERT INTO country (Name) VALUES('Barbados');
INSERT INTO country (Name) VALUES('Belarus');
INSERT INTO country (Name) VALUES('Belgium');
INSERT INTO country (Name) VALUES('Belize');
INSERT INTO country (Name) VALUES('Benin');
INSERT INTO country (Name) VALUES('Bermuda');
INSERT INTO country (Name) VALUES('Bhutan');
INSERT INTO country (Name) VALUES('Bolivia');
INSERT INTO country (Name) VALUES('Bosnia & Herzegovina');
INSERT INTO country (Name) VALUES('Botswana');
INSERT INTO country (Name) VALUES('Brazil');
INSERT INTO country (Name) VALUES('Brunei Darussalam');
INSERT INTO country (Name) VALUES('Bulgaria');
INSERT INTO country (Name) VALUES('Burkina Faso');
INSERT INTO country (Name) VALUES('Myanmar/Burma');
INSERT INTO country (Name) VALUES('Burundi');
INSERT INTO country (Name) VALUES('Cambodia');
INSERT INTO country (Name) VALUES('Cameroon');
INSERT INTO country (Name) VALUES('Canada');
INSERT INTO country (Name) VALUES('Cape Verde');
INSERT INTO country (Name) VALUES('Cayman Islands');
INSERT INTO country (Name) VALUES('Central African Republic');
INSERT INTO country (Name) VALUES('Chad');
INSERT INTO country (Name) VALUES('Chile');
INSERT INTO country (Name) VALUES('China');
INSERT INTO country (Name) VALUES('Colombia');
INSERT INTO country (Name) VALUES('Comoros');
INSERT INTO country (Name) VALUES('Congo');
INSERT INTO country (Name) VALUES('Costa Rica');
INSERT INTO country (Name) VALUES('Croatia');
INSERT INTO country (Name) VALUES('Cuba');
INSERT INTO country (Name) VALUES('Cyprus');
INSERT INTO country (Name) VALUES('Czech Republic');
INSERT INTO country (Name) VALUES('Democratic Republic of the Congo');
INSERT INTO country (Name) VALUES('Denmark');
INSERT INTO country (Name) VALUES('Djibouti');
INSERT INTO country (Name) VALUES('Dominican Republic');
INSERT INTO country (Name) VALUES('Dominica');
INSERT INTO country (Name) VALUES('Ecuador');
INSERT INTO country (Name) VALUES('Egypt');
INSERT INTO country (Name) VALUES('El Salvador');
INSERT INTO country (Name) VALUES('Equatorial Guinea');
INSERT INTO country (Name) VALUES('Eritrea');
INSERT INTO country (Name) VALUES('Estonia');
INSERT INTO country (Name) VALUES('Ethiopia');
INSERT INTO country (Name) VALUES('Fiji');
INSERT INTO country (Name) VALUES('Finland');
INSERT INTO country (Name) VALUES('France');
INSERT INTO country (Name) VALUES('French Guiana');
INSERT INTO country (Name) VALUES('Gabon');
INSERT INTO country (Name) VALUES('Gambia');
INSERT INTO country (Name) VALUES('Georgia');
INSERT INTO country (Name) VALUES('Germany');
INSERT INTO country (Name) VALUES('Ghana');
INSERT INTO country (Name) VALUES('Great Britain');
INSERT INTO country (Name) VALUES('Greece');
INSERT INTO country (Name) VALUES('Grenada');
INSERT INTO country (Name) VALUES('Guadeloupe');
INSERT INTO country (Name) VALUES('Guatemala');
INSERT INTO country (Name) VALUES('Guinea');
INSERT INTO country (Name) VALUES('Guinea-Bissau');
INSERT INTO country (Name) VALUES('Guyana');
INSERT INTO country (Name) VALUES('Haiti');
INSERT INTO country (Name) VALUES('Honduras');
INSERT INTO country (Name) VALUES('Hungary');
INSERT INTO country (Name) VALUES('Iceland');
INSERT INTO country (Name) VALUES('India');
INSERT INTO country (Name) VALUES('Indonesia');
INSERT INTO country (Name) VALUES('Iran');
INSERT INTO country (Name) VALUES('Iraq');
INSERT INTO country (Name) VALUES('Israel and the Occupied Territories');
INSERT INTO country (Name) VALUES('Italy');
INSERT INTO country (Name) VALUES('Ivory Coast (Cote d''Ivoire)');
INSERT INTO country (Name) VALUES('Jamaica');
INSERT INTO country (Name) VALUES('Japan');
INSERT INTO country (Name) VALUES('Jordan');
INSERT INTO country (Name) VALUES('Kazakhstan');
INSERT INTO country (Name) VALUES('Kenya');
INSERT INTO country (Name) VALUES('Kosovo');
INSERT INTO country (Name) VALUES('Kuwait');
INSERT INTO country (Name) VALUES('Kyrgyz Republic (Kyrgyzstan)');
INSERT INTO country (Name) VALUES('Laos');
INSERT INTO country (Name) VALUES('Latvia');
INSERT INTO country (Name) VALUES('Lebanon');
INSERT INTO country (Name) VALUES('Lesotho');
INSERT INTO country (Name) VALUES('Liberia');
INSERT INTO country (Name) VALUES('Libya');
INSERT INTO country (Name) VALUES('Liechtenstein');
INSERT INTO country (Name) VALUES('Lithuania');
INSERT INTO country (Name) VALUES('Luxembourg');
INSERT INTO country (Name) VALUES('Republic of Macedonia');
INSERT INTO country (Name) VALUES('Madagascar');
INSERT INTO country (Name) VALUES('Malawi');
INSERT INTO country (Name) VALUES('Malaysia');
INSERT INTO country (Name) VALUES('Maldives');
INSERT INTO country (Name) VALUES('Mali');
INSERT INTO country (Name) VALUES('Malta');
INSERT INTO country (Name) VALUES('Martinique');
INSERT INTO country (Name) VALUES('Mauritania');
INSERT INTO country (Name) VALUES('Mauritius');
INSERT INTO country (Name) VALUES('Mayotte');
INSERT INTO country (Name) VALUES('Mexico');
INSERT INTO country (Name) VALUES('Moldova, Republic of');
INSERT INTO country (Name) VALUES('Monaco');
INSERT INTO country (Name) VALUES('Mongolia');
INSERT INTO country (Name) VALUES('Montenegro');
INSERT INTO country (Name) VALUES('Montserrat');
INSERT INTO country (Name) VALUES('Morocco');
INSERT INTO country (Name) VALUES('Mozambique');
INSERT INTO country (Name) VALUES('Namibia');
INSERT INTO country (Name) VALUES('Nepal');
INSERT INTO country (Name) VALUES('Netherlands');
INSERT INTO country (Name) VALUES('New Zealand');
INSERT INTO country (Name) VALUES('Nicaragua');
INSERT INTO country (Name) VALUES('Niger');
INSERT INTO country (Name) VALUES('Nigeria');
INSERT INTO country (Name) VALUES('Korea, Democratic Republic of (North Korea)');
INSERT INTO country (Name) VALUES('Norway');
INSERT INTO country (Name) VALUES('Oman');
INSERT INTO country (Name) VALUES('Pacific Islands');
INSERT INTO country (Name) VALUES('Pakistan');
INSERT INTO country (Name) VALUES('Panama');
INSERT INTO country (Name) VALUES('Papua New Guinea');
INSERT INTO country (Name) VALUES('Paraguay');
INSERT INTO country (Name) VALUES('Peru');
INSERT INTO country (Name) VALUES('Philippines');
INSERT INTO country (Name) VALUES('Poland');
INSERT INTO country (Name) VALUES('Portugal');
INSERT INTO country (Name) VALUES('Puerto Rico');
INSERT INTO country (Name) VALUES('Qatar');
INSERT INTO country (Name) VALUES('Reunion');
INSERT INTO country (Name) VALUES('Romania');
INSERT INTO country (Name) VALUES('Russian Federation');
INSERT INTO country (Name) VALUES('Rwanda');
INSERT INTO country (Name) VALUES('Saint Kitts and Nevis');
INSERT INTO country (Name) VALUES('Saint Lucia');
INSERT INTO country (Name) VALUES('Saint Vincent''s & Grenadines');
INSERT INTO country (Name) VALUES('Samoa');
INSERT INTO country (Name) VALUES('Sao Tome and Principe');
INSERT INTO country (Name) VALUES('Saudi Arabia');
INSERT INTO country (Name) VALUES('Senegal');
INSERT INTO country (Name) VALUES('Serbia');
INSERT INTO country (Name) VALUES('Seychelles');
INSERT INTO country (Name) VALUES('Sierra Leone');
INSERT INTO country (Name) VALUES('Singapore');
INSERT INTO country (Name) VALUES('Slovak Republic (Slovakia)');
INSERT INTO country (Name) VALUES('Slovenia');
INSERT INTO country (Name) VALUES('Solomon Islands');
INSERT INTO country (Name) VALUES('Somalia');
INSERT INTO country (Name) VALUES('South Africa');
INSERT INTO country (Name) VALUES('Korea, Republic of (South Korea)');
INSERT INTO country (Name) VALUES('South Sudan');
INSERT INTO country (Name) VALUES('Spain');
INSERT INTO country (Name) VALUES('Sri Lanka');
INSERT INTO country (Name) VALUES('Sudan');
INSERT INTO country (Name) VALUES('Suriname');
INSERT INTO country (Name) VALUES('Swaziland');
INSERT INTO country (Name) VALUES('Sweden');
INSERT INTO country (Name) VALUES('Switzerland');
INSERT INTO country (Name) VALUES('Syria');
INSERT INTO country (Name) VALUES('Tajikistan');
INSERT INTO country (Name) VALUES('Tanzania');
INSERT INTO country (Name) VALUES('Thailand');
INSERT INTO country (Name) VALUES('Timor Leste');
INSERT INTO country (Name) VALUES('Togo');
INSERT INTO country (Name) VALUES('Trinidad & Tobago');
INSERT INTO country (Name) VALUES('Tunisia');
INSERT INTO country (Name) VALUES('Turkey');
INSERT INTO country (Name) VALUES('Turkmenistan');
INSERT INTO country (Name) VALUES('Turks & Caicos Islands');
INSERT INTO country (Name) VALUES('Uganda');
INSERT INTO country (Name) VALUES('Ukraine');
INSERT INTO country (Name) VALUES('United Arab Emirates');
INSERT INTO country (Name) VALUES('United States of America (USA)');
INSERT INTO country (Name) VALUES('Uruguay');
INSERT INTO country (Name) VALUES('Uzbekistan');
INSERT INTO country (Name) VALUES('Venezuela');
INSERT INTO country (Name) VALUES('Vietnam');
INSERT INTO country (Name) VALUES('Virgin Islands (UK)');
INSERT INTO country (Name) VALUES('Virgin Islands (US)');
INSERT INTO country (Name) VALUES('Yemen');
INSERT INTO country (Name) VALUES('Zambia');
INSERT INTO country (Name) VALUES('Zimbabwe');
