<div class="container" xmlns:orderBy="http://www.w3.org/1999/xhtml">

  <hr class="my-5">

  <!-- Magazine newsfeed v.2 -->
  <div class="row">
    <div class=" car col-md-12 mx-auto">

      <!--Carousel Wrapper-->
      <mdb-carousel [isControls]="true" [animation]="'slide'">
        <!--First slide-->
        <mdb-carousel-item>
          <img class="d-block w-100 " src="../../../assets/img/1.jpg" alt="First slide">
        </mdb-carousel-item>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-carousel-item>
          <img class="d-block w-100" src="../../../assets/img/AEC.png" alt="Second slide">
        </mdb-carousel-item>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-carousel-item>
          <img class="d-block w-100" src="../../../assets/img/kaspersky.jpg" alt="Third slide">
        </mdb-carousel-item>
        <!--/Third slide-->
      </mdb-carousel>
      <!--/.Carousel Wrapper-->
    </div>
  </div>
</div>

<!-- Article economie -->

<div class="row">
  <div class="col-md-10 mx-auto  mt-5">

    <div class="container">

      <div class="row">
        <div class="col-md-12 mx-auto">

          <section class="magazine-section my-5">

            <h4 class="font-weight-normal success-lighter-hover mb-2"> Entreprise  </h4>
            <div class="progress md-progress">
              <div class="progress-bar bg-success " role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                   aria-valuemax="100"></div>
            </div>


            <div class="row" >
              <div class="col">
              <div>


                <div class="single-news mb-lg-0 mb-4">


                  <div class="view overlay rounded z-depth-1-half mb-4">
                    <img class="img-fluid"  src="../../../assets/img/1.jpg" alt="Sample image">
                    <a>
                      <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                    </a>
                  </div>

                  <div *ngFor="let a of art1">
                  <div class="news-data d-flex justify-content-between">
                    <a href="#!" class="deep-orange-text">
                      <h6 class="font-weight-bold">
                        <a  routerLink="/auteur/{{a.author.idUser}}">   <i class="fa fa-cutlery pr-2"></i>{{a.author.name | uppercase}} {{a.author.surname | uppercase}}</a></h6>
                    </a>
                    <p class="font-weight-bold dark-grey-text">
                      <i class="fa fa-clock-o pr-2"></i>{{a.date | date}}</p>
                  </div>


                    <div *ngFor="let at of a.contentDetails">
                  <h3 class="font-weight-bold dark-grey-text mb-3">
                    <a>{{at.titre | uppercase}}</a>
                  </h3>
                  <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">{{at.content| slice : 0:300 }}</p>
                    </div>
                  <button type="button" class="btn btn-slack btn-rounded" routerLink="/article_details/{{a.idArticle}}"><i
                    class="fas fa-angle-double-right"></i> Read More
                  </button>
                  </div>
                </div>

              </div>
              </div>


              <div class="col">


              <div  *ngFor="let artEnt of art4 ">


                <div class="single-news mb-4">


                  <div class="row">


                    <div class="col-md-3">


                      <div class="view overlay rounded z-depth-1 mb-4">
                        <img class="img-fluid" src="../../../assets/img/kaspersky.jpg"
                             alt="Sample image">
                        <a>
                          <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                        </a>
                      </div>

                    </div>

                    <div class="col-md-9">
                      <div *ngFor="let at of artEnt.contentDetails">
                      <p class="font-weight-bold dark-grey-text">{{at.titre }}</p>
                      <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3">
                          <a  routerLink="/article_details/{{artEnt.idArticle}}" class="dark-grey-text">{{at.content | slice : 0:55 }} </a>
                        </div>
                      </div>
                        <a  routerLink="/article_details/{{artEnt.idArticle}}">
                          <i class="fa fa-angle-double-right" ></i>
                        </a>
                      </div>

                    </div>

                  </div>

                </div>

              </div>

              </div>
            </div>
          </section>

        </div>
      </div>




      <div class="row">
        <div class="col-md-12 mx-auto">

          <section class="magazine-section my-5">

            <h4 class="font-weight-normal cyan-lighter-hover mb-2"> Economie  </h4>
            <div class="progress md-progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                   aria-valuemax="100"></div>
            </div>


            <div class="row" >
              <div class="col">
              <div>


                <div class="single-news mb-lg-0 mb-4">


                  <div class="view overlay rounded z-depth-1-half mb-4">
                    <img class="img-fluid" src="../../../assets/img/1.jpg" alt="Sample image">
                    <a>
                      <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                    </a>
                  </div>


                  <div class="news-data d-flex justify-content-between">
                    <a href="#!" class="deep-orange-text">
                      <h6 class="font-weight-bold">
                        <i class="fa fa-cutlery pr-2"></i>Culinary</h6>
                    </a>
                    <p class="font-weight-bold dark-grey-text">
                      <i class="fa fa-clock-o pr-2"></i>27/02/2018</p>
                  </div>


                  <h3 class="font-weight-bold dark-grey-text mb-3">
                    <a>Title of the news</a>
                  </h3>
                  <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">Sed ut perspiciatis unde voluptatem omnis iste natus
                    error
                    sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    explicabo.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>

                  <button type="button" class="btn btn-slack btn-rounded" routerLink="/article_details"><i
                    class="fas fa-angle-double-right"></i> Read More
                  </button>

                </div>

              </div>

            </div>
              <div class="col">

              <div  *ngFor="let artco of artEco ">


                <div class="single-news mb-4">


                  <div class="row">


                    <div class="col-md-3">


                      <div class="view overlay rounded z-depth-1 mb-4">
                        <img class="img-fluid" src="../../../assets/img/kaspersky.jpg"
                             alt="Sample image">
                        <a>
                          <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                        </a>
                      </div>

                    </div>

                    <div class="col-md-9">

                    <div *ngFor="let ar of artco.contentDetails">
                      <p class="font-weight-bold dark-grey-text">{{ar.titre }}</p>
                      <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3">
                          <a href="#!" class="dark-grey-text">{{ar.content | slice : 0:55 }} </a>
                        </div>
                      </div>
                      <a  routerLink="/article_details/{{artco.idArticle}}">
                        <i class="fa fa-angle-double-right" ></i>
                      </a>
                    </div>

                    </div>

                  </div>

                </div>

              </div>

              </div>
            </div>
          </section>

        </div>
      </div>


      <div class="row">
        <div class="col-md-12 mx-auto">

          <section class="magazine-section my-5">

            <h4 class="font-weight-normal deep-orange-lighter-hover mb-2"> Lifestyle  </h4>
            <div class="progress md-progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                   aria-valuemax="100"></div>
            </div>



            <div class="row" >
              <div class="col">
                <div>


                  <div class="single-news mb-lg-0 mb-4">


                    <div class="view overlay rounded z-depth-1-half mb-4">
                      <img class="img-fluid" src="../../../assets/img/1.jpg" alt="Sample image">
                      <a>
                        <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                      </a>
                    </div>


                    <div class="news-data d-flex justify-content-between">
                      <a href="#!" class="deep-orange-text">
                        <h6 class="font-weight-bold">
                          <i class="fa fa-cutlery pr-2"></i>Culinary</h6>
                      </a>
                      <p class="font-weight-bold dark-grey-text">
                        <i class="fa fa-clock-o pr-2"></i>27/02/2018</p>
                    </div>


                    <h3 class="font-weight-bold dark-grey-text mb-3">
                      <a>Title of the news</a>
                    </h3>
                    <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">Sed ut perspiciatis unde voluptatem omnis iste natus
                      error
                      sit voluptatem accusantium doloremque laudantium,
                      totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                      explicabo.
                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>

                    <button type="button" class="btn btn-slack btn-rounded" routerLink="/article_details"><i
                      class="fas fa-angle-double-right"></i> Read More
                    </button>

                  </div>

                </div>
              </div>


              <div class="col">


                <div  *ngFor="let artl of artLifestyle"  >


                  <div class="single-news mb-4">


                    <div class="row">


                      <div class="col-md-3">


                        <div class="view overlay rounded z-depth-1 mb-4">
                          <img class="img-fluid" src="../../../assets/img/1.jpg"
                               alt="Sample image">
                          <a>
                            <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                          </a>
                        </div>

                      </div>

                      <div class="col-md-9">
                        <div *ngFor="let atl of artl.contentDetails">
                          <p class="font-weight-bold dark-grey-text">{{atl.titre}}</p>
                          <div class="d-flex justify-content-between">
                            <div class="col-11 text-truncate pl-0 mb-3">
                              <a  routerLink="/article_details/{{artl.idArticle}}" class="dark-grey-text">{{atl.content | slice : 0:55 }} </a>
                            </div>
                          </div>
                          <a  routerLink="/article_details/{{artl.idArticle}}">
                            <i class="fa fa-angle-double-right" ></i>
                          </a>
                        </div>

                      </div>

                    </div>

                  </div>

                </div>

              </div>
            </div>
          </section>

        </div>
      </div>






      <div class="row">
        <div class="col-md-12 mx-auto">

          <section class="magazine-section my-5">

            <h4 class="font-weight-normal pink-lighter-hover mb-2"> Technologie  </h4>
            <div class="progress md-progress">
              <div class="progress-bar bg-danger " role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                   aria-valuemax="100"></div>
            </div>


            <div class="row" >

              <div class="col">


                <div class="single-news mb-lg-0 mb-4">


                  <div class="view overlay rounded z-depth-1-half mb-4">
                    <img class="img-fluid" src="../../../assets/img/1.jpg" alt="Sample image">
                    <a>
                      <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                    </a>
                  </div>


                  <div class="news-data d-flex justify-content-between">
                    <a href="#!" class="deep-orange-text">
                      <h6 class="font-weight-bold">
                        <i class="fa fa-cutlery pr-2"></i>Culinary</h6>
                    </a>
                    <p class="font-weight-bold dark-grey-text">
                      <i class="fa fa-clock-o pr-2"></i>27/02/2018</p>
                  </div>


                  <h3 class="font-weight-bold dark-grey-text mb-3">
                    <a>Title of the news</a>
                  </h3>
                  <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">Sed ut perspiciatis unde voluptatem omnis iste natus
                    error
                    sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    explicabo.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>

                  <button type="button" class="btn btn-slack btn-rounded" routerLink="/article_details"><i
                    class="fas fa-angle-double-right"></i> Read More
                  </button>

                </div>

              </div>


            <div class="col">
              <div *ngFor="let artte of artTech ">


                <div class="single-news mb-4">


                  <div class="row">


                    <div class="col-md-3">


                      <div class="view overlay rounded z-depth-1 mb-4">
                        <img class="img-fluid" src="../../../assets/img/1.jpg"
                             alt="Sample image">
                        <a>
                          <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                        </a>
                      </div>

                    </div>

                    <div class="col-md-9">

                       <div *ngFor="let ar of artte.contentDetails">
                      <p class="font-weight-bold dark-grey-text">{{ar.titre}}</p>
                      <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3">
                          <a href="#!" class="dark-grey-text">{{ar.content | slice : 0:55 }} </a>
                        </div>
                      </div>
                        <a  routerLink="/article_details{{artte.idArticle}}">
                          <i class="fa fa-angle-double-right" ></i>
                        </a>
                      </div>

                    </div>

                  </div>

                </div>

              </div>

            </div>
            </div>

          </section>

        </div>
      </div>
      <!-- Magazine newsfeed v.2 -->
    <!--  <div class="row">
        <div class="col-md-12 mx-auto">

          &lt;!&ndash;Section: Magazine v.2&ndash;&gt;
          <section class="magazine-section my-5">

            <h4 class="font-weight-normal success-lighter-hover mb-2">Economie </h4>

            <div class="progress md-progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
                   aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            &lt;!&ndash; Grid row &ndash;&gt;
            <div class="row">


              <mdb-progress value="50" min="0" max="100" type="info" aria-valuenow="50" aria-valuemin="0"
                            aria-valuemax="100"></mdb-progress>


              <div class="col-lg-6 col-md-12">

                &lt;!&ndash; Featured news &ndash;&gt;
                <div class="single-news mb-lg-0 mb-4">

                  &lt;!&ndash; Image &ndash;&gt;
                  <div class="view overlay rounded z-depth-1-half mb-4">
                    <img class="img-fluid" src="../../../assets/img_art/a1.jpg" alt="Sample image">
                    <a>
                      <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                    </a>
                  </div>

                  &lt;!&ndash; Data &ndash;&gt;
                  <div class="news-data d-flex justify-content-between">
                    <a href="#!" class="deep-orange-text">
                      <h6 class="font-weight-bold">
                        <i class="fa fa-cutlery pr-2"></i>Culinary</h6>
                    </a>
                    <p class="font-weight-bold dark-grey-text">
                      <i class="fa fa-clock-o pr-2"></i>xxx</p>
                  </div>

                  &lt;!&ndash; Excerpt &ndash;&gt;
                  <h3 class="font-weight-bold dark-grey-text mb-3">
                    <h4 routerLink="/article_details"></h4>
                  </h3>
                  <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4"></p>


                  <button type="button" class="btn btn-slack btn-rounded" routerLink="/article_details"><i
                    class="fas fa-angle-double-right"></i> Read More
                  </button>


                &lt;!&ndash; Featured news &ndash;&gt;

              </div>
              &lt;!&ndash; Grid column &ndash;&gt;
              </div>
              &lt;!&ndash; Grid column &ndash;&gt;


              <div *ngFor="let article of articles" >

              <div class="col-lg-6 col-md-12">

                &lt;!&ndash; Small news &ndash;&gt;
                <div class="single-news mb-4">

                  &lt;!&ndash; Grid row &ndash;&gt;
                &lt;!&ndash;  <div class="row" *ngFor="let article of articles">&ndash;&gt;

                    &lt;!&ndash; Grid column &ndash;&gt;
                    <div class="col-md-3">

                      &lt;!&ndash;Image&ndash;&gt;
                      <div class="view overlay rounded z-depth-1 mb-4">
                        <img class="img-fluid" src="../../../assets/img_art/a2.jpg" alt="Sample image">
                        <a>
                          <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                        </a>
                      </div>

                    </div>
                    &lt;!&ndash; Grid column &ndash;&gt;
                  <a class="badge badge-warning" routerLink="/article_details/{{ article.idArticle }}">
                    Edit
                  </a>
                  <a routerLink="article_details">
                    <i class="fa fa-angle-double-right"  ></i>   aa  <a  [routerLink]="['/article_details' +article.idArticle ]" class="dark-grey-text"></a>
                  </a>
                    &lt;!&ndash; Grid column &ndash;&gt;
                    <div class="col-md-9">

           &lt;!&ndash;           &lt;!&ndash; Excerpt &ndash;&gt;    <div  *ngFor ="let art of article.contentDetails">

                    <p class="font-weight-bold dark-grey-text"> {{art.titre}}</p>

                      <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3">
                          <a routerLink="article_details" class="dark-grey-text"> </a>
                          {{art.content}} </div>
                        &lt;!&ndash;  <div  *ngFor ="let art of article.tags">
                          {{art.libelle}} {{article.author.surname}}</div>&ndash;&gt;

                      </div>
                    </div>&ndash;&gt;
                        <a routerLink="article_details">
                          <i class="fa fa-angle-double-right"  ></i>   bbbbb<a  [routerLink]="['/article_details', article.idArticle]" class="dark-grey-text"></a>
                        </a>


                    </div>
                    &lt;!&ndash; Grid column &ndash;&gt;

                  &lt;!&ndash; Grid row &ndash;&gt;
                </div>
                &lt;!&ndash; Small news &ndash;&gt;

                &lt;!&ndash; Small news &ndash;&gt;
                &lt;!&ndash;         <div class="single-news mb-4">

                  &lt;!&ndash; Grid row &ndash;&gt;
                  <div class="row">

                    &lt;!&ndash; Grid column &ndash;&gt;
                    <div class="col-md-3">

                      &lt;!&ndash;Image&ndash;&gt;
                      <div class="view overlay rounded z-depth-1 mb-4">
                        <div class="card-img " >
                          <img class="img-fluid" src="../../../assets/img_art/a3.jpg"
                               alt="Sample image">
                        </div>
                        <a>
                          <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                        </a>
                      </div>

                    </div>
                    &lt;!&ndash; Grid column &ndash;&gt;

                    &lt;!&ndash; Grid column &ndash;&gt;
                    <div class="col-md-9">

                      &lt;!&ndash; Excerpt &ndash;&gt;
                      <p class="font-weight-bold dark-grey-text">25/02/2018</p>
                      <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3">
                          <a href="#!" class="dark-grey-text">Zimbabwean entrepreneur invents open-sourced technology to improve access to education in Africa</a>
                        </div>
                        <a>
                          <i class="fa fa-angle-double-right"></i>
                        </a>
                      </div>

                    </div>
                    &lt;!&ndash; Grid column &ndash;&gt;

                  </div>
                  &lt;!&ndash; Grid row &ndash;&gt;

                </div>
                &lt;!&ndash; Small news &ndash;&gt;

                &lt;!&ndash; Small news &ndash;&gt;
                <div class="single-news mb-4">

                  &lt;!&ndash; Grid row &ndash;&gt;
                  <div class="row">

                    &lt;!&ndash; Grid column &ndash;&gt;
                    <div class="col-md-3">

                      &lt;!&ndash;Image&ndash;&gt;
                      <div class="view overlay rounded z-depth-1 mb-4">
                        <img class="img-fluid" src="../../../assets/img_art/a4.jpg" alt="Sample image">
                        <a>
                          <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                        </a>
                      </div>

                    </div>
                    &lt;!&ndash; Grid column &ndash;&gt;

                    &lt;!&ndash; Grid column &ndash;&gt;
                    <div class="col-md-9">

                      &lt;!&ndash; Excerpt &ndash;&gt;
                      <p class="font-weight-bold dark-grey-text">24/02/2018</p>
                      <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-3">
                          <a href="#!" class="dark-grey-text">Africa: Marriott International signs agreement to bring its iconic St. Regis Brand to the new adminstrative capital of Egypt with the St. Regis Almasa
                          </a>
                        </div>
                        <a>
                          <i class="fa fa-angle-double-right"></i>
                        </a>
                      </div>

                    </div>
                    &lt;!&ndash; Grid column &ndash;&gt;

                  </div>
                  &lt;!&ndash; Grid row &ndash;&gt;

                </div>
                &lt;!&ndash; Small news &ndash;&gt;&ndash;&gt;

                &lt;!&ndash; Small news &ndash;&gt;
                &lt;!&ndash;    <div class="single-news">

                  &lt;!&ndash; Grid row &ndash;&gt;
                  <div class="row">

                    &lt;!&ndash; Grid column &ndash;&gt;
                    <div class="col-md-3">

                      &lt;!&ndash;Image&ndash;&gt;
                      <div class="view overlay rounded z-depth-1 mb-md-0 mb-4">
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="Sample image">
                        <a>
                          <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                        </a>
                      </div>

                    </div>
                    &lt;!&ndash; Grid column &ndash;&gt;

                    &lt;!&ndash; Grid column &ndash;&gt;
                    <div class="col-md-9">

                      &lt;!&ndash; Excerpt &ndash;&gt;
                      <p class="font-weight-bold dark-grey-text">23/02/2018</p>
                      <div class="d-flex justify-content-between">
                        <div class="col-11 text-truncate pl-0 mb-lg-3">
                          <a href="#!" class="dark-grey-text">Duis aute irure dolor in reprehenderit in voluptate</a>
                        </div>
                        <a>
                          <i class="fa fa-angle-double-right"></i>
                        </a>
                      </div>

                    </div>
                    &lt;!&ndash; Grid column &ndash;&gt;

                  </div>
                  &lt;!&ndash; Grid row &ndash;&gt;

                </div>&ndash;&gt;

  </div>

</div>
            </div>
            &lt;!&ndash; Grid row &ndash;&gt;

          </section>
          &lt;!&ndash;Section: Magazine v.2&ndash;&gt;

        </div>
      </div>
      &lt;!&ndash; Magazine newsfeed v.2 &ndash;&gt;

  <div class="row">
     <div class="col-md-12 mx-auto">

       <section class="magazine-section my-5">

         <h4 class="font-weight-normal pink-lighter-hover mb-2"> Sport </h4>
         <div class="progress md-progress">
           <div class="progress-bar pink " role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
         </div>


         <div class="row">



           <div class="col-lg-6 col-md-12">


             <div class="single-news mb-lg-0 mb-4">


               <div class="view overlay rounded z-depth-1-half mb-4">
                 <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/1.jpg" alt="Sample image">
                 <a>
                   <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                 </a>
               </div>


               <div class="news-data d-flex justify-content-between">
                 <a href="#!" class="deep-orange-text">
                   <h6 class="font-weight-bold">
                     <i class="fa fa-cutlery pr-2"></i>Culinary</h6>
                 </a>
                 <p class="font-weight-bold dark-grey-text">
                   <i class="fa fa-clock-o pr-2"></i>27/02/2018</p>
               </div>


               <h3 class="font-weight-bold dark-grey-text mb-3">
                 <a>Title of the news</a>
               </h3>
               <p class="dark-grey-text mb-lg-0 mb-md-5 mb-4">Sed ut perspiciatis unde voluptatem omnis iste natus
                 error
                 sit voluptatem accusantium doloremque laudantium,
                 totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                 explicabo.
                 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>

               <button type="button" class="btn btn-slack btn-rounded" routerLink="/article_details"><i
                 class="fas fa-angle-double-right"></i> Read More
               </button>

             </div>

           </div>

           <div class="col-lg-6 col-md-12">


             <div class="single-news mb-4">


               <div class="row">


                 <div class="col-md-3">


                   <div class="view overlay rounded z-depth-1 mb-4">
                     <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(29).jpg"
                          alt="Sample image">
                     <a>
                       <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                     </a>
                   </div>

                 </div>

                 <div class="col-md-9">


                   <p class="font-weight-bold dark-grey-text">26/02/2018</p>
                   <div class="d-flex justify-content-between">
                     <div class="col-11 text-truncate pl-0 mb-3">
                       <a href="#!" class="dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus
                         qui blanditiis</a>
                     </div>
                     <a>
                       <i class="fa fa-angle-double-right"></i>
                     </a>
                   </div>

                 </div>

               </div>

             </div>

             <div class="single-news mb-4">


               <div class="row">


                 <div class="col-md-3">


                   <div class="view overlay rounded z-depth-1 mb-4">
                     <img class="img-fluid"
                          src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                          alt="Sample image">
                     <a>
                       <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                     </a>
                   </div>

                 </div>

                 <div class="col-md-9">


                   <p class="font-weight-bold dark-grey-text">25/02/2018</p>
                   <div class="d-flex justify-content-between">
                     <div class="col-11 text-truncate pl-0 mb-3">
                       <a href="#!" class="dark-grey-text">Itaque earum rerum hic tenetur a sapiente delectus</a>
                     </div>
                     <a>
                       <i class="fa fa-angle-double-right"></i>
                     </a>
                   </div>

                 </div>

               </div>

             </div>

             <div class="single-news mb-4">


               <div class="row">


                 <div class="col-md-3">


                   <div class="view overlay rounded z-depth-1 mb-4">
                     <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/87.jpg"
                          alt="Sample image">
                     <a>
                       <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                     </a>
                   </div>

                 </div>

                 <div class="col-md-9">


                   <p class="font-weight-bold dark-grey-text">24/02/2018</p>
                   <div class="d-flex justify-content-between">
                     <div class="col-11 text-truncate pl-0 mb-3">
                       <a href="#!" class="dark-grey-text">Soluta nobis est eligendi optio cumque nihil impedit quo
                         minus</a>
                     </div>
                     <a>
                       <i class="fa fa-angle-double-right"></i>
                     </a>
                   </div>

                 </div>

               </div>

             </div>

             <div class="single-news">

               <div class="row">

                 <div class="col-md-3">

                   <div class="view overlay rounded z-depth-1 mb-md-0 mb-4">
                     <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg"
                          alt="Sample image">
                     <a>
                       <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
                     </a>
                   </div>

                 </div>

                 <div class="col-md-9">

                   <p class="font-weight-bold dark-grey-text">23/02/2018</p>
                   <div class="d-flex justify-content-between">
                     <div class="col-11 text-truncate pl-0 mb-lg-3">
                       <a href="#!" class="dark-grey-text">Duis aute irure dolor in reprehenderit in voluptate</a>
                     </div>
                     <a>
                       <i class="fa fa-angle-double-right"></i>
                     </a>
                   </div>
                 </div>

               </div>
             </div>

           </div>

         </div>

       </section>

     </div>
   </div>-->
  <!-- Magazine newsfeed v.2 -->

      <!-- Magazine newsfeed v.2 -->



    </div>


  </div>

</div>
<!-- Article sport -->
